.container.mx-auto.px-4.py-8
  %h1.text-3xl.font-bold.mb-8 Board Details
  .bg-white.shadow-md.rounded-lg.p-6.mb-8
    %p.mb-2
      %strong Title:
      = @table.title
    %p.mb-2
      %strong Email:
      = @table.email
    %p.mb-2
      %strong Dimensions:
      = @table.width
      x #{@table.height}
    %p.mb-2
      %strong Mines:
      = @table.mines
    %p
      %strong Created At:
      = @table.created_at.strftime("%B %d, %Y %I:%M %p")
  %h2.text-2xl.font-semibold.mb-4 Generated Board
  .bg-white.shadow-md.rounded-lg.p-6.mb-8
    .overflow-auto.mx-auto{:class => "max-w-[50%] max-h-[500px]"}
      .grid.gap-1{:style => "grid-template-columns: repeat(#{@table.width}, minmax(20px, 1fr));"}
        - JSON.parse(@table.board_data).each do |row|
          - row.each do |cell|
            .aspect-square.bg-gray-200.rounded-md.text-center.flex.items-center.justify-center.hover:bg-blue-500.transition-all.duration-200
              = cell == 1 ? "💣" : ""
  .mt-8
    = link_to "Back to Home", root_path, class: "bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-600"
